@model Vidly.ViewModels.RandomMovieViewModel

@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer</h2>
@if (Model.Customers.Count == 0)
{
    <p>No Customers Available.</p>
}
else
{
    <table class="table table-bordered">
        @foreach (var customer in Model.Customers)
        {
            <tbody>
                <tr>
                    <td>@customer.Name</td>
                </tr>
            </tbody>
        }
    </table>
}



